@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

/* Color palette from me <3 */
:root {

  /* Colors */
  --white:            #f6f6f6;            
  --dark:             #090A0F;
  --blue:             #00122B;
  --red:              #C70000;
  --yellow:           #EBA928;
  --gradientBackground: radial-gradient(50% 50% at 50% 50%, #002251 0%, #161823 100%);

  /* Fonts */
  --normal: "Jura Normal", sans-serif;
  --light: "Jura Light", sans-serif;
  --bold: "Jura Bold", sans-serif;
  --medium: "Jura Medium", sans-serif;
}

body{
  background: var(--gradientBackground);
  min-height: 100vh;
}

body #app{
  margin: auto;
  color: var(--white);
  font-family: var(--normal);
}

.transition{
  transition: ease;
  transition: 0.5s ease-in-out;
}


/** Tablette **/
@media screen and (max-width: 1300px)  {
}

/** Tablette **/
@media screen and (max-width: 768px)  { 
}




